:root {
    --violet: hsl(263, 55%, 52%);
    --dark-gray-blue: hsl(217, 19%, 35%);
    --dark-black-blue: hsl(219, 29%, 14%);
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-blue: hsl(210, 46%, 95%);
}



body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--light-gray-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid-cards {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';

    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.card {
    padding: 20px;
    border-radius: 12px;
}

.card:nth-child(1) {
    background-color: var(--violet);
    grid-area: one;
}

.card:nth-child(2) {
    background-color: var(--dark-gray-blue);
    grid-area: two;
}

.card:nth-child(3) {
    grid-area: three;
}

.card:nth-child(3), .card:last-child {
    background-color: white;
}

.card:nth-child(4) {
    background-color: var(--dark-black-blue);
    grid-area: four;
}
.card:last-child {
    grid-area: five;
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(4) {
    color: white;
}

.card:nth-child(3), .card:last-child {
    color: var(--dark-gray-blue);
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.title {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 20px 20px;
}

h2 {
    font-weight: 500;
    font-size: 1rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

h3 {
    opacity: 50%;
    font-size: 1em;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

h2, h3 {
    grid-column: 2 / 3;
    margin: 0 15px;
}

h3, p {
    font-weight: 500;
}

p {
    opacity: 70%;
    line-height: 1.5;
}

.title>img {
    border-radius: 50%;
    width: 45px;
    border: 2px solid var(--light-gray-blue);
    grid-area: 1 / 2 / 2 / 1;
}

blockquote {
    margin: 0;
}

.card>img {
    z-index: -1;
}

@media screen and (min-width: 33em) {
    .grid-cards {
        grid-template-areas:
        "one one"
        "two three"
        'four four'
        'five five';
    }
  }
  
  @media screen and (min-width: 38em) {
    .grid-cards {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }

  @media screen and (min-width: 54em) {
    .grid-cards {
        grid-template-areas:
        "one one three"
        "five five five"
        "three five five";
    }
  }
  
  @media screen and (min-width: 75em) {
    .grid-cards {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }